<h2>Forecaster</h2>

<form>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Part Number</th>
                    <th class="col-md-1">Manufacturer</th>
                    <th class="col-md-4">Part Description</th>
                    <th>Quantity Required</th>
                    <th>Quantity Available</th>
                    <th>Quantity to Order</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="part in partsOrder">
                    <td>{{part.part_number}}</td>
                    <td>{{part.manufacturer}}</td>
                    <td>{{part.part_description}}</td>
                    <td>{{part.quantity_required}}</td>
                    <td>{{part.quantity_available}}</td>
                    <td>{{part.quantity_needed}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <input type="submit" id="csv" value="Create CSV" ng-csv="createCSV" filename="partsOrder.csv">
    </div>

</form>