<!--<form class="regLog" ng-submit="register()">-->
<form ng-submit="register()">
    <div>
        <label for="username">Username:</label>
        <input ng-model="user.username" type="text" name="username" id="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input ng-model="user.password" type="password" name="password" id="password" required/>
    </div>
    <div>
        <input type="submit" value="Sign Up">
        <a href="/"><input type="submit" value="Go Back"/></a>
    </div>
</form>